<!-- footer -->
<section class="footer  flush--top">
    <div class="container">
        <div class="row">
            <ul class="list-unstyled  col-12  col-sm-3  col-lg-2">
                <li><a href="oak@baidu.com">Email</a></li>
                <li><a href="https://github.com/fex-team/yog2/issues" target="_blank">Github Issue</a></li>
            </ul>
            <ul class="list-unstyled  col-12  col-sm-2  col-lg-2">
                <li><a href="{{ site.baseurl }}/">首页</a></li>
                <li><a href="{{ site.baseurl }}/docs">文档</a></li>
                <li><a href="https://github.com/fex-team/yog2" target="_blank">Github</a></li>
                <li><a href="http://fis.baidu.com" target="_blank">FIS</a></li>
                <li><a href="http://fex.baidu.com" target="_blank">FEX</a></li>
            </ul>
            <div class="col-12  col-sm-7  col-lg-5  col-lg-offset-3  text-left  hard--left join-us">
                <h3 class="footer--main-logo">加入我们</h3> FEX 是百度「Web 前端研发部」的内部名称
                <br/> 其中 FE 是 Front End 的缩写，X 代表我们不仅关注前端技术，还更重视全端及全栈的能力。
                <br/> 如果你对这个团队感兴趣，可以 <a class="underline" target="_blank" href="http://fex.baidu.com/we-need-you/">点击这里</a>。
            </div>
        </div>
    </div>
</section>
<!-- footer -->
