<!-- page title goes here -->
<title>YOG2 - Node.js UI 层解决方案</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- add your name or URL here -->
<meta name="author" content="fex@baidu.com">
<!-- add a description of your site/company/product here -->
<meta name="description" content="YOG2 - Node.js UI 层解决方案">
<!-- add the keywords here that represent your site, an example few have been added -->
<meta name="keywords" content="node, nodejs, fis, fex">
<!-- add your name or URL here -->
<meta name="publisher" content="fex">
<meta name="rating" content="General">
<!-- Bootstrap -->
<link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet" media="screen">
<!-- Theme styles -->
<link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet" media="screen">
<link href="{{ site.baseurl }}/css/animate.min.css" rel="stylesheet" media="screen">
<link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet" media="screen">
<!-- media-queries -->
<link href="{{ site.baseurl }}/css/media-queries.css" rel="stylesheet" media="screen">
<!-- modernizr -->
<script src="{{ site.baseurl }}/js/modernizr.custom.js"></script>
<script src="{{ site.baseurl }}/js/wow.min.js"></script>
